{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static '/css/errors.css' %}">
    <title>Steve Rebrand 404</title>
	<div class="button">
		<a href="/">
			<svg height="0.8em" width="0.8em" viewBox="0 0 2 1" preserveAspectRatio="none">
			 <polyline class="polyline"
				   fill="none" 
				   stroke="#777777" 
				   stroke-width="0.1" 
				   points="0.9,0.1 0.1,0.5 0.9,0.9" 
			 />
		   </svg> Home
		   </a>
	</div>
	
		<div class="caution">
		<h1 class="text"><span>500</span></h1>
		</div>
	   <p>Internal Server Error, we will try and resolve the problem soon.</p>
	<script src="/index.js"></script>
</body>
</html>